<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:i="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="header">
    <h1><span th:text="${name}"/></h1>
    <table>

        <tr>
            <td>
                <form action="/registration" method="get">
                    <input type="submit" value="Norman Registration">
                </form>
            </td>
            <td>
                <form action="/jenkinsconfig" method="get">
                    <input type="submit" value="Jenkins Config">
                </form>
            </td>
            <td>
                <form action="/h2-console" method="get">
                    <input type="submit" value="H2-Console">
                </form>
            </td>
            <td>
            </td>
            <td>
                <form action="/login" method="get">
                    <input type="submit" th:value="'Logout ' + ${username}">
                    <input type="hidden" id="logout" name="logout">
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form action="/" method="get">
                    <input type="submit" value="All Entries">
                </form>
            </td>
            <td>
                <form action="/latestset" method="get">
                    <input type="submit" value="Latest Set">
                </form>
            </td>
            <td>
                <form action="/latestsettoday" method="get">
                    <input type="submit" value="Latest Set Today">
                </form>
            </td>
            <td>
                <form action="/deletetoday" method="post">
                    <input type="submit" value="Delete Today">
                </form>
            </td>
            <td>
                <form action="/deleteall" method="post">
                    <input type="submit" value="Delete All">
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form action="/jenkinsnodes" method="get">
                    <input type="submit" value="Jenkins Nodes">
                </form>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <form action="/lists" method="get">
                    <input type="submit" value="Lists">
                </form>
            </td>
            <td>
                <form action="/createlist" method="get">
                    <input type="submit" value="Create List">
                </form>
            </td>
            <td>
                <form action="/invitations" method="get">
                    <input type="submit" value="Invitations To Lists">
                </form>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
    </table>

</div>
</body>
</html>