<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:i="http://www.w3.org/1999/xhtml">
<head>
    <title>Norman</title>
    <link th:href="@{/stylesheets/main.css}" rel="stylesheet" />
</head>

<body>

<div th:insert="header :: header"></div>

<form action="/createitem" method="post">
<TABLE id="searchTable">
    <tr>
        <td>
            Search/Create
        </td>
        <td>
            <input type="text" id="ITEM_NAME" name="ITEM_NAME" onkeyup="searchFunction('myTable')" placeholder="type here ...">
        </td>
        <td>
            <input type="submit" value="save">
            <input type="hidden" name="LIST_ID" th:value="${listId}">
        </td>
    </tr>
</TABLE>
</form>

<script>
function searchFunction(tableName) {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("ITEM_NAME");
  filter = input.value.toUpperCase();
  table = document.getElementById(tableName);
  tr = table.getElementsByTagName("tr");

  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

<TABLE id="myTable">
    <tbody>
    <tr th:each="item : ${items}" th:style="|background-color:#${item.getBACKGROUND_COLOR()};color:#${item.getCOLOR()}|">
        <td th:text="${item.name}"></td>
        <td>
            <form action="/additem" method="post">
                <input type="submit" value="add">
                <input type="hidden" name="ITEM_ID" th:value="${item.id}">
                <input type="hidden" name="LIST_ID" th:value="${listId}">
            </form>
        </td>
    </tr>
    </tbody>
</TABLE>

</body>

</html>

