<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:i="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
    <link th:href="@{/stylesheets/main.css}" rel="stylesheet" />
</head>
<body>
<TABLE>
    <tr th:each="entity: ${entities}">
        <th:block th:each="i: ${#numbers.sequence(0,entity.keys.size() - 1)}">
            <td>
                <form action="/" method="get">
                    <input type="hidden" id="entityId" name="entityId" th:value="${entity.getId()}">
                    <input type="hidden" id="entityKey" name="entityKey" th:value="${i}">
                    <input type="submit" th:value="${entity.keys.get(i)}">
                </form>
            </td>
        </th:block>

        <td th:if="${columns - entity.keys.size()} != '0'" th:colspan="${columns - entity.keys.size()}"></td>
        <td th:text="${entity.VALUE}"/>
        <td th:text="${entity.DATE}"/>
    </tr>
</TABLE>
</body>
</html>