<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:i="http://www.w3.org/1999/xhtml">
<head>
    <title>Norman</title>
    <link th:href="@{/stylesheets/main.css}" rel="stylesheet" />
</head>
<body>

<div th:insert="header :: header"></div>

<TABLE>
    <tr th:each="entity: ${entities}" th:style="|background-color:#${entity.getBACKGROUND_COLOR()};color:#${entity.getCOLOR()}|">
        <th:block th:each="i: ${#numbers.sequence(0,entity.keys.size() - 1)}">
            <td>
                <form action="/" method="get">
                    <input type="hidden" id="entityId" name="entityId" th:value="${entity.getId()}">
                    <input type="hidden" id="entityKey" name="entityKey" th:value="${i}">
                    <input type="submit" th:value="${entity.keys.get(i)}">
                </form>
                <form action="/deleteselectedkeys" method="post">
                    <input type="hidden" id="entityId" name="entityId" th:value="${entity.getId()}">
                    <input type="hidden" id="entityKey" name="entityKey" th:value="${i}">
                    <input type="submit" th:value="del">
                </form>
            </td>
        </th:block>

        <td th:if="${columns - entity.keys.size()} != '0'" th:colspan="${columns - entity.keys.size()}"></td>
        <td th:text="${entity.VALUE}"/>
        <td th:text="${entity.DATE}"/>
        <td>
            <form action="/deletethis" method="post">
                <input type="hidden" id="entityId" name="entityId" th:value="${entity.getId()}">
                <input type="submit" value="delete this line">
            </form>
        </td>
    </tr>
</TABLE>
</body>
</html>